<br />
<hr />

<main class="min-vh-100 d-flex justify-content-center">
<div class="container text-center">
  <ng-container *ngIf="reviewState$ | async as cards">
    <div *ngIf="cards === null" class="text-center mt-4">Carregando biblioteca...</div>
    <p *ngIf="cards.length === 0" class="text-center w-100">Nenhuma carta na biblioteca.</p>
      <div class="col-12" >
        <div class="row" *ngFor="let card of cards">
          <br/>
         
          <div class="col">            
            <img [src]="card.local_image_url" alt="{{ card.card_name }}" class="w-50 rounded d-block"/>
          </div>
           <div class="col">            
             <img [src]="card.card_image" alt="{{ card.card_name }}" class="w-50 rounded d-block"/>
          </div>     
          <div class="col">
            <span class="h5">{{ card.card_set_id }} - {{ card.card_name }}</span><br/>
            <br/>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-success" type="button" (click)="approve(card)">Approve</button>
              <button class="btn btn-warning" type="button" (click)="reject(card)">Send to Manual Scan</button>
            </div>
          </div>           
         <hr/>
        </div>
      </div>
  </ng-container>
</div>
</main>
